.git
.gitignore
.github
.DS_Store
.crush
.superpowers
.codex-tmp

dist
docs/book
logs
*.log

target/*
!target/release/
target/release/*
!target/release/klaw
!target/*/
target/*/*
!target/*/release/
target/*/release/*
!target/*/release/klaw

klaw-gateway/static/chat/dist/
klaw-gateway/static/chat/pkg/

__pycache__/
*.py[cod]
